@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    margin: 0;
    padding: 0;
    background-color: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

.display{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 1024px;
}


.main{
    display: flex;
    flex-direction: row;
}


/* Header */

.logo{
    display: flex;
    justify-content: center;
    margin-left: 40px;
}


.logoImg{
    margin-top: 25px;
    width: 120px;
    height: 48px;

    
}

.Title{
    width: auto;
    height: 48px;
    margin-left: 6rem;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;

}

/* Left */
.container{
    display: flex;
    width: 680px;
    height: 700px;
    padding: 5px;
    flex-direction: column;
}



.left{

    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 24px;
    margin-bottom: 50vh;
}

#inputText{
    font-size: 30px;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    overflow-y: scroll;
    height:300px;
    
    color: #0A3871; 
    background-color: #F3F5FC;
}



 
/* Botones */

.left-button{
    border-radius: 24px;    
    margin-top: -12rem;
}


.subtext{
    display: flex;
    color: #495057;
    opacity: 0.8; 
    margin-left: 1rem;
}

#imgP{
    padding: 1rem;
}

.buttons{
    display: inline;
    justify-content: space-between;
    
}

.ButonGen{
    width: 320px;
    height: 67px;
    border-radius: 2rem;
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
    font-weight: bold;
    margin: 0 0.5rem;
    
}

 #btnEncriptar{
    background-color: #0A3871;
    color: white;
    border: none; 
}
#btnEncriptar:hover{
    background-color: #0d4b97;
    
}

#btnDesencriptar {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

#btnDesencriptar:hover{
    background-color: white;
}
  




/* right */

.right{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.09);
    justify-content: center;
    align-items: center;

    margin-right: 80px;
    margin-top: 40px;
    width: 400px;
    height: 900px;

}

#imgRight{
    margin: auto;
    height: auto;
}
#text{
    margin-left: 7%;
    margin-right: 5%;
}


#textArea{

    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    resize: none;

}


#btnCopiar{
    
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    display: none;
    margin-bottom: 1rem;
}

#btnCopiar:hover{
    background-color: white;
}


/* MediaQuery */

@media screen and (max-width: 1260px) {
    
    .logo{
        position: absolute;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    .main{
        flex-direction: column;
        justify-content: center;
    }

    .section1{
        display: flex;
        justify-content: center;
        width: 690px;
        margin-top: 8rem;
        margin-bottom: 6rem;
    }
    .section2{
        display: flex;
        justify-content: center;
        width: auto;
        margin-top: 6rem;
    }

    

    .right{
        
        width: auto;
        height: 300px;
        margin-left: 1rem;
        margin-bottom: 40px;
        
    }

    #imgRight{
        display: none;
    }

    
}


@media screen and (max-width: 668px) {

    .section1{
        display: flex;
        justify-content: center;
        width: 400px;
        margin-top: 8rem;
        margin-bottom: 8rem;
        padding-left: 3rem;
    }
    .section2{
        display: flex;
        justify-content: center;
        width: 400px;
        margin-top: 8rem;
        padding-left: 3rem;
    }

    .left-button{
        justify-content: center;
    }

    .buttons{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    .ButonGen{
        margin: 0.5rem;
    }



    


}

